<table class="table ">
    <thead class="table-secondary">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody class="table-info" *ngFor="let product of products" >
      <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency}}</td>
        <td>
            <button class="btn btn-primary" routerLink="/detail/{{product.id}}"><i class="fas fa-eye"></i></button>
            <button class="btn btn-danger" routerLink="/edit/{{product.id}}" ><i class="fas fa-pen-square"></i></button>
            <button class="btn btn-warning" (click)="deleteProduct(product.id)"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
      
    </tbody>
  </table>
  
